.container {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ratioOwned {
	margin-right: 10px;
}

.percent {
	color: green;
}

.affinity {
	font-size: 2rem;
	margin-right: 20px;
}

.affinityText {
	font-size: 1.5rem;
	display: none;
}

@media only screen and (max-width: 768px) {
	.container {
		flex-direction: column-reverse;
		align-items: center;
		width: 100%;
	}

	.ratioOwned {
		margin-top: 10px;
		margin-bottom: 15px;
	}

	.affinity {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 10px;
		padding: 5px 10px;
		width: 100%;
	}

	.affinityText {
		display: inline;
	}
}
